
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="/card.css" >
     <link rel="stylesheet" href="/styles.css" >
 
    <title class="text-white"><%=pageTitle %></title>
  </head>
 


 
  <body>

    <%-include('../INCLUDES/navigationc.ejs')%>
    <div class="offcanvas offcanvas-start offcanvass" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasScrollingLabel">DASHBOARD</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
    
      <div class="offcanvas-body">
        <ul class="off-nav">
          <li class="nav-item">
              <a class="nav-link padd text-white <%=path==='/home'? 'active':''%>" href="/home">Home
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link padd" href="#">Add house
          </a>
         </li>
              <li class="nav-item">
              <a class="nav-link padd" href="#">House for rent
          </a>
      </li>
      <form action="/admin/logout" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" > 
    
           <button   class=" flex1 rounded-pill btn btn-dark pill ">LOG OUT</button>
      
      </form>
    
      </ul>
    
       
      </div>
    </div>
    <div class="d-flex justify-content-center mt-2 pt-2">
    <h4 class="text-white" >ADD THE HOUSE INFORMATIONS</h4>
    </div>
    <div class="centering_card mb-3  ">
      
 <form class=" pt-5 pb-4 bg-light rounded shadow-lg" action="/disp1" method ="POST" enctype="multipart/form-data">
     <div class="centering_card">
    
    </div>
<div class ="input-area">
       <input placeholder="Street Area" class="form-control" type="text" name="title">
 </div>  
 <div class ="input-area">
  <input placeholder="Price/month" class="form-control" type="number" name="price">
</div>  
 <div class ="input-area form-control pt-4">

    <input 
      type="file"
       name="image"
        id="image"
        >
</div>  

<div class ="input-area pt-4">
    <input placeholder="Add description: How big, how far, social services etc" class="form-control" type="" name="description">
</div>  
<div class="centering_card">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
  <button name="" class="btn btn-success" type="submit">Add house</button>
</div>
 </form>

</div>
 
 <%-include('../INCLUDES/end.ejs')%>