<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/st.css">
    <title><%= pageTitle %></title>
</head>

<body>

   <% for(let normalUsers of prods){%>
   <div class="outer-box" >
     <div class =inner-box>
         <h1 class="form-control"><%=  normalUsers.fname %></h1>
     </div>

     <div class =inner-box>
        <h1 class="form-control"><%=normalUsers.lname %></h1>
    </div>


    <div class =inner-box>
        <h1><%=normalUsers.cont%></h1>
    </div> 

    <div class =inner-box>
        <h1 class="form-control"><%= normalUsers.pass %></h1>
    </div>
   </div>

   <% }%>
</body>
</html>